# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle Markdown Checklist Item'
      'command': 'markdown-checklists:toggle-item'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Markdown Checklists'
      'submenu': [
        {
          'label': 'Toggle Stats'
          'command': 'markdown-checklists:toggle-stats'
        },
        {
          'label': 'Toggle Item'
          'command': 'markdown-checklists:toggle-item'
        }
      ]
    ]
  }
]
